$coral: #e54b4b;
$pale-coral: #ffa987;
$white-grey: #f7ebe8;
$dark-grey: #444140;
$almost-black: #1e1e24;

$dark-blue: #004e89;
$blue: #1a659e;
$creme: #efefd0;
$pale-orange: #f7c59f;
$orange: #ff6b35;
